body{
  background-color: #ADD8E6
}

p {
  color: red;
}
.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}

#pizza2{
  align-content: center;
  max-width: 25%;
}

#pizza{
  align-content: center;
  max-width: 25%;
}
#pizzaa{
  align-content: center;
  max-width: 25%;
}
.rounded{
  border-radius: 80px;
}
.hover{
  background-color: white;
  font-size: 25px;
}
